/*Body and Generals*/
body {
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    margin: 2% 2%;
}


/*Header*/

.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #343838;
}

.header-title, .creddits {
    font-family: 'Ranchers', cursive;
    color: #00DFFC;
    letter-spacing: 1px;
    transition: 0.5s;
}

.header-title:hover {
    font-size: 40px;
}

.nav-bar {
    list-style: none;
    display: flex;
    margin-left: -40px;
    margin-top: 0;
    width: 280px;
    justify-content: space-around;
}

.nav-bar-element {
    color: #00DFFC;
    font-family: 'PT Sans', sans-serif;
    transition: 0.5s;
}

.nav-bar-element:hover {
    font-size: 18px;
}

.nav-bar-element a {
    text-decoration: none;
    color: #00DFFC;
}

/*Main*/

.our-books-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitle {
    color: #005F6B;
    font-family: 'Ranchers', cursive;
    letter-spacing: 1px;
    align-self: flex-start;
}

.books-card-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.book-card {
    padding: 2px auto;
    border-radius: 1em;
    background-color: #00B4CC;  
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1%;
}

.book-card h3, p {
    font-family: 'PT Sans', sans-serif;
    color: #343838;
    letter-spacing: 1px;
    margin: 10px;
}

.book-card img {
    height: 170px;
    border-radius: 10px;
}

.book-card p {
    margin-bottom: 5px;
}

/*New book Section*/

.form {
    background-color: #00B4CC; 
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    border-radius: 1em;
    margin: 20px;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.form-element label {
    text-align: center;
    margin: 5px;
    font-family: 'PT Sans', sans-serif;
    color: #343838;
}

.form input {
    border: none;
    border-radius: 10px;
    height: 20px;
    background-color: #efefef;
}

.btn {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #efefef;
    transition: 0.5s;
}

.btn:hover {
    background-color: #a19c9c;
}

.btn i {
    font-size: 30px;
    
}

/*Media Queries*/

@media screen and (min-width: 768px) {
    .header {
        justify-content: space-around;
        flex-direction: row;
    }

    .nav-bar {
        margin-top: 20px;
    }
    
    .subtitle {
        align-self: flex-start;
    }
    
    .book-card {
        margin: 1%;
    }

    .new-book-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .subtitle {
        align-self: flex-start;
    }

    .form {
        width: 250px;
    }

    .form-element {
        display: grid;
        grid-template-columns: 100%;
        margin: 5px;
    }
}

@media screen and (min-width: 1440px){
    .grid{
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .new-book-container {
       justify-content: flex-start;

    }
}